.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 0.7rem;
  color: white;
}

.App-title {
  font-size: 1.5rem;
  text-align: left;
  margin: 0
}

.App-intro {
  font-size: large;
}

#appView {
  
}

#tableTitle {
  font-size: 1.3rem;
  margin: 1rem 0rem;
}

.increasing {
  text-decoration: underline solid;
  cursor: n-resize;
}

.decreasing {
  text-decoration: overline solid;
  cursor: s-resize;
}

.sortable {
  text-decoration: underline dashed;
  cursor: n-resize;
}

table {
  margin: auto
}

tbody > tr {
  cursor: pointer;
}

.table-disabled {
  cursor: not-allowed;
}

.table-primary {
  cursor: pointer;
}

.table-success {
  cursor: pointer;
}

#exchangeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#groupView {
  text-align: left;
  margin-top: 3rem;
}

.recharts-wrapper {
  margin: auto;
}

.recharts-responsive-container {
  margin: auto;
}

.studentList {
  list-style-type: none;
  margin-top: 2rem;
}

.groupTitle h3 {
  text-align: center;
  font-size: 1.3rem;
}

.table-danger {
  color: black;
}

.clusterCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clusterLabel {
  color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  width: 85%;
}

.clusterZero {
  background-color: #345c96;
}

.clusterOne {
  background-color: #fa8f1c;
  color: black
}

.clusterTwo {
  background-color: #f3d22a;
  color: black
}

.clusterThree {
  background-color: #775c0d;
}